.animeContainer{
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: row;
  overflow: hidden;
  margin: 0
}
.userNameInput {
  margin: 2vh;
 align-self: center;
}