.animeContainer {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: row;
  overflow: hidden;
  margin: 0
}

.userNameInput {
  margin: 2vh;
  align-self: center;
}

.animeLeftHeader {
  width: 80vw;
  justify-content: center;
  display: flex;
}

.exportListButton {
  text-align: center;
  width: 12vw;
  margin-bottom: 4vh;
  justify-self: center;
}

.loginPage {
  display: flex;
  flex-direction: column;
  
}